<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Molina Store</title>
<link
	href="/maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="/maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="/cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="/css/finalizar.css">
<script type="text/javascript" src="/js/finalizar.js"></script>
</head>
<body>
	<section class="error_section">
		<p class="error_section_subtitle">Parabéns, compra finalizada com sucesso!</p><br><br><br><br><br><br>
		<p></p>
		<a href="/" class="btn">Voltar para a Página Inicial</a>
	</section>
</body>
</html>