<!doctype html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{clientes/layout}">
<head>
<meta charset="utf-8">
<title>Molina Store</title>
</head>
<body>
	<!-- Start Slider Area -->
	<section layout:fragment="corpo">

		<div class="single-product-area"
			style="padding-top: 55px; padding-bottom: 80px">
			<div class="container">
				<form th:object="${venda}">
				<div class="row col-md-12 text-center pt-5">
					<img src="/clientes/img/cart.jpg">
					<h2
						style="font-family: Libre Baskerville; font-size: 72px; color: black">
						Parabéns!</h2>
					<p class="lead mb-5"
						style="font-family: Muli, sans-serif; color: black">Seu pedido
						foi concluído com sucesso!
					<p>
						<a href="/" class="btn btn-sm btn-outline-black"
							style="background: transparent; border-color: #000000; color: #000000; padding-top: 10px; padding-bottom: 10px; padding-left: 15px; padding-right: 15px; font-size: 11px; font-family: Muli, sans-serif">Voltar
							para a Página Inicial</a>
				</div>
				</form>
			</div>
		</div>
	</section>

</body>
</html>